{{define "new"}}
{{template "layout" .}}
{{end}}

{{define "content"}}
<h2>Post New Item</h2>

<form method="POST" action="/items" enctype="multipart/form-data">
    <label>Title:<br><input type="text" name="title" required></label><br><br>
    <label>Description:<br><textarea name="desc"></textarea></label><br><br>
    <label>Contact:<br><input type="text" name="contact" required></label><br><br>
    <label>Status:<br>
        <select name="status">
            <option value="lost">Lost</option>
            <option value="found">Found</option>
        </select>
    </label><br><br>
    <label>Image:<br><input type="file" name="image"></label><br><br>
    <button type="submit">Post Item</button>
</form>
{{end}}
